<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.jsl_book_two" >

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="JSL Book 2"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.osu.jsl_book_two.MainActivity"
            android:label="JSL Book 2 (ver. 0.1)" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.osu.jsl_book_two.activities.CoreConversationsActivity"
            android:label="JSL Book 2: Core Conversations (ver. 0.1)" >
        </activity>
        <activity
            android:name="edu.osu.jsl_book_two.activities.DrillsActivity"
            android:label="JSL Book 2: Drills (ver. 0.1)" >
        </activity>
        <activity
            android:name="edu.osu.jsl_book_two.activities.StreamAudioActivity"
            android:label="JSL Book 2: Streaming Audio (ver. 0.1)" >
        </activity>
        <activity
            android:name="edu.osu.jsl_book_two.activities.StreamVideoActivity"
            android:label="JSL Book 2: Streaming Video (ver. 0.1)" >
        </activity>
    </application>

</manifest>
